@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer utilities {
  .bg-light {
      background-image: linear-gradient(to right top, #cfcfcf, #d6d6d6, #dddddd, #e4e4e4, #ebebeb);
  }
  .bg-dark {
      background-image: linear-gradient(to right top, #07184a, #1a2661, #2c3679, #3e4592, #5056ac);
  }
}